{%extends 'shared/base.html'%}
{% load bootstrap4 %}
{% load static%}
{% load staticfiles %}


{%block content%}

{{block.super}}


<!-- Hero Area Start -->
<div id="hero-area" class="hero-area-bg">
        <div class="container">      
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Edit Profile</h2>
                <p>Be known</p>
                <div class="header-button">
                        <form action="{%url 'edit_profile'%}" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                        
                            {% bootstrap_form form%}
                            <input type="submit" class="btn btn-common" value="Update">
                            
                        </form>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1540909163456-800870874263?ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80" alt="main image">
                <br>
                <br>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="main image">
                <br>
                br
                <img class="img-fluid" src="https://images.unsplash.com/photo-1489582558212-475fa5010897?ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80" alt="main image">
              </div>            
            </div>
          </div> 
        </div> 
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->





{% endblock %}