{%extends 'shared/base.html'%}
{% load static%}
{% load staticfiles %}

{%block content%}

{{block.super}}
  

 
    <!-- Hood Section Start -->
    <section id="services" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Join a Hood</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          {% for hood in hoods%}
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="lni-users"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">{{hood.name}}</a></h3>
                <a rel="nofollow" href="{% url 'join' hood.id  %}" class="btn btn-common">Join</a>
              </div>
            </div>
          </div>
          {% endfor %}
    
      </div>
        </div>
      </div>
    </section>
   
<br>
<br>
<br>

    <section id="services" class="section-padding bg-grey">
        <div class="container">
          <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Add your Neighbourhood</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
          </div>
          <div class="row">
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                <div class="icon">
                  <i class="lni-users"></i>
                </div>
                <div class="services-content">
                  <h3><a href="#">New Hood</a></h3>
                  <a rel="nofollow" href="{% url 'add'  %}" class="btn btn-common">Add</a>
                </div>
              </div>
            </div>
        </div>
          </div>
        </div>
      </section>         
 
    <!-- Hood Section End -->
  


  
{%endblock%}


