{%extends 'shared/base.html'%}
{% load static%}
{% load staticfiles %}

{%block content%}

{{block.super}}



<!-- Hero Area Start -->
<div id="hero-area" class="hero-area-bg">
        <div class="container">      
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">HOOD</h2>
                <p>Join an inclusive fun community of neighbours</p>
                <div class="header-button">
                  <a rel="nofollow" href="{%url 'hood_listing'%}" class="btn btn-common">Join a hood</a>
                  <a href="{% url 'edit_profile' %}" class="btn btn-border video-popup">Make a Profile</a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1540909163456-800870874263?ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80" alt="main image">
              </div>            
            </div>
          </div> 
        </div> 
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

{%endblock%}