{%extends 'shared/base.html'%}
{% load static%}
{% load staticfiles %}

{%block content%}

{{block.super}}

<h3>Hood: {{hood.name}}</h3>
<h3>Hood: {{hood.police_details}}</h3>
<h3>Hood: {{hood.health_details}}</h3>

<h5 id="text" class="card-title">Occupants: {{hood.member_count | upper}}</h5>


<a href="{% url 'business_listing'  %}" class="btn btn-sm btn-success">Add Business</a>

<a href="{% url 'add_post'  %}" class="btn btn-sm btn-success">Add Post</a>
<a href="{% url 'leave' hood.id  %}" class="btn btn-sm btn-danger">Leave {{hood.name}}</a>



<h2>Businesses in {{hood.name}} </h2>
<br>
<div class="card-columns">
    {% for business in businesses%}
    <div class="card" style="width:100%;">


        <div class="card-body" style="background-color:#eceff1;">
            <h5>{{business.name | upper}}</h5>
            <h5>{{business.description | safe}}</h5>
            <p>{{business.email }}</p>
        </div>
    </div>

    {% empty %}
    <h4>No businesses yet! Register one <a style="color:#4fc3f7;" href="{% url 'business_listing'  %}">here</a></h4>

    {% endfor %}



    {% for post in posts%}
    <h3>{{post.name}}</h3>
    <p id="text" style="margin-bottom:0;">By <a style="width:100%; padding-left:10px;" href="{% url 'user_profile' username=post.poster %}">
            <label>{{post.poster}}</label></a></p>

    {% empty %}
    <h4>No posts :-(
        <br>
        <a style="color:#4fc3f7;" href="{% url 'add_post'  %}">Create one!</a></h4>

    {% endfor %}




{% endblock %}






