{%extends 'shared/base.html'%}
{% load static%}
{% load staticfiles %}

{%block content%}

{{block.super}}




            <!-- Contact Section Start -->
            <section id="contact" class="section-padding bg-gray">    
                    <div class="container">
                      <div class="section-header text-center">          
                        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Welcome{{profile_details.user | upper}}</h2>
                        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
                      </div>
                      <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.3s">   
                        <div class="col-lg-7 col-md-12 col-sm-12">
                  <!-- Call To Action Section Start -->
                  <section id="cta" class="section-padding">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">           
                          <div class="cta-text">
                            <h4>Welcome user</h4>
                            <h5>user bio</h5>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
                          </br><a rel="nofollow" href="{% url 'edit_profile'%}" class="btn btn-common">Update Profile</a><br>
                        </br><a rel="nofollow" href="{%url 'add_business' %}" class="btn btn-common">Add a business</a>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- Call To Action Section Start -->
                        </div>
                        <div class="col-lg-5 col-md-12 col-xs-12">
                          <div class="map">
                                <img class="rounded-circle img-responsive" width="170" height="170" src="{{profile_details.avatar.url}}" size="">
                          </div>
                        </div>
                      </div>
                    </div> 
                  </section>
                  <!-- Contact Section End -->



        {%endblock%}  











          <img class="rounded-circle img-responsive" width="170" height="170" src="{{profile_details.avatar.url}}" size="">
          <br>


          <br>

          <p id="text" style="width:100%; padding-left:6px;">{{profile_details.user | upper}}</p>


          <div style="width:100%; padding-left:20px;padding-top:10px;" class="row">

            <p id="text" style="width:100%; padding-left:6px;">{{businesses | length }} businesses</p>
            <br>
            <p id="text" style="margin-top:0px;">{{profile_info.bio | safe}}</p>

            <p id="text" style="margin-top:0px;">{{profile_info.contact | safe}}</p>
          </div>
        </div>
      </div>

    </div>

        {% for business in businesses %}
        <div class="card">
          <div class="card-body" style="background-color:#eceff1;">
            <h5>{{business.name | upper}}</h5>
            <h5>{{business.description | safe}}</h5>
            <p>{{business.email }}</p>
            <p>Location: {{business.business_hood.name}}</p>
          </div>
        </div>
        {% empty %}
        <div class="row">
          <h4>Add a business.
            Register one <a style="color:#4fc3f7;" href="{% url 'add_business'  %}">here</a>
          </h4>
        </div>
        {% endfor %}
